.text_standart_box {
display:block;
float:left;
clear:both;
margin:10px 0 0 0;
padding:0 0 0 0;
}


.text_standart_caption h2{
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size:medium;
font-weight:normal;
color:#003399;
display:block;
width:400px;
height:auto;
float:left;
padding:0;
margin:0;
text-align:left;
}

.text_standart_text {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size:small;
font-weight:normal;
display:block;
float:left;
width:550px;
height:auto;
clear:both;
color:#000000;
padding:0 0 0 0;
margin:5px 0 0 0;
}

.text_standart_keywords {
display:none;
}
